$bcColor: #643a94;
$ylwColor:rgb(221, 202, 32);

.addme {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

    h3 {
      color: rgb(160, 42, 42);
    }

    input[type='text'] {
      text-align: center;
      width: 70%;
      height: 7vh;
      font-size: 5vw;
      transition: 0.5s;
      border: 4px solid $bcColor;
      border-radius: 22px;
      padding: 0 2vw;
      font-family: inherit;
      font-weight: bold;
      outline: none;

      &:focus {
        border-color: $ylwColor;
      }
    }

    div {
      width: 80%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      p {
        color: $bcColor;
        font-weight: bold;
        text-align: center;
        font-size: 5vw;
      }

      label {
        color: $bcColor;
        font-style: italic;
        font-weight: bold;

        input[type='radio'] {
          -webkit-appearance: none;
          appearance: none;
          -moz-appearance: none;
          transition: 0.7s;
          width: 2.2vh;
          height: 2.2vh;
          position: relative;
          box-sizing: border-box;
          outline: none;
          margin-right: 6vw;

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 4px solid $bcColor;
            transition: 0.7s;
            border-radius: 50%;
          }

          &:checked::before {
            border-left: none;
            border-top: none;
            border-color: rgb(35, 170, 35);
            width: 60%;
            height: 120%;
            transform: rotate(45deg) translate(5px, -10px);
            border-radius: 0;
          }
        }
      }
    }

    select {
      outline: none;
      padding-left: 5%;
      font-weight: bold;
      font-size: 4.5vw;
      width: 70%;
      height: 6.5vh;
      border: 4px solid $bcColor;
      color: $bcColor;
      background-color: #fff;

      option {
        font-weight: bold;
        font-size: 4vw;
        color: $bcColor;
        font-family: inherit;
      }
    }

    & > label {
      width: 70%;
      height: 6vh;
      font-size: 4.5vw;
      font-weight: bold;
      border: 3px solid $bcColor;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $bcColor;
      border-radius: 30px;
      transition: 0.5s;
    }

    input[type='file'] {
      display: none;
    }

    button {
      width: 60%;
      height: 7vh;
      background-color: $bcColor;
      color: white;
      font-size: 7vw;
      font-weight: bold;
      border: none;
    }
  }
}
