$bcColor: #643a94;

.button {
  border: 4px solid $bcColor;
  outline: none;
  background-color: transparent;
  color: $bcColor;
  font-size: 5vw;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-family: inherit;
  transition: 0.2s;
  text-transform: lowercase;

  span {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:active {
    transform: scale(0.8);
  }
}
