$bcColor: #643a94;
$swipeForwardBtnColor: rgb(150, 51, 51);
$adoptBtnColor: rgb(41, 194, 35);

.finder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .animalcard {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: 95%;
    border:4px solid $bcColor;
    border-radius: 50px;

    figure {
      width: 80%;
      height: 40%;
      border: 5px solid $bcColor;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }

    h2 {
      font-size: 6vw;
      font-weight: bold;
      color: $bcColor;
      width: 80%;
      text-align: center;
    }

    h2:first-of-type {
      font-size: 8vw;
      background-color: $bcColor;
      color:white;
      padding:1vh;
      border-radius: 20px;
    }

    div {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        border-radius: 50%;
        height: 12vh;
        width: 12vh;
        border: none;
        outline: none;
        color: white;
        font-size: 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        transition: 0.2s;

        &:active {
          transform: scale(0.9);
        }
      }

      button:nth-of-type(1) {
        color: $swipeForwardBtnColor;
        border: 5px solid $swipeForwardBtnColor;
      }

      button:nth-of-type(2) {
        color: $bcColor;
        border: 5px solid $bcColor;
      }

      button:nth-of-type(3) {
        color: $adoptBtnColor;
        border: 5px solid $adoptBtnColor;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .finder {
    .animalcard {
      width: 25%;
      height: 80%;
      border-radius: 75px;
      border: 5px solid $bcColor;

      figure {
        width: 70%;
        height: 45%;
        border-radius: 45px 45px 0px 0px;
      }

      h2 {
        font-size: 1.2vw;
        width: 70%;
      }

      h2:first-of-type {
        font-size: 1.8vw;
        font-weight: bold;
        color: white;
        background-color: $bcColor;
        padding: 0.5vh 0;
        border-radius: 0px 0px 40px 40px;
      }

      div {
        button {
          width: 10vh;
          height: 10vh;
          font-size: 2.5vw;
          cursor: pointer;
        }

        button:nth-of-type(1) {
          &:hover {
            color: white;
            background-color: $swipeForwardBtnColor;
          }
        }

        button:nth-of-type(2) {
          &:hover {
            color: white;
            background-color: $bcColor;
          }
        }

        button:nth-of-type(3) {
          &:hover {
            color: white;
            background-color: $adoptBtnColor;
          }
        }
      }
    }
  }
}
