.hamburgericon {
  position: absolute;
  left: 3%;
  width: 6vh;
  height: 6vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

  .iconpart {
    background-color: white;
    width: 80%;
    height: 15%;
    border-radius: 20px;
    transition: 0.7s;
    position: relative;
  }
}

.activeicon .middleicon {
  opacity: 0;
}

.activeicon .topicon {
  transform: translateY(190%) rotate(765deg);
}

.activeicon .bottomicon {
  transform: translateY(-190%) rotate(-765deg);
}
