@import url('https://fonts.googleapis.com/css?family=Signika+Negative');

html {
  overflow: hidden;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  font-family: 'Signika Negative', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

#root {
  width: 100%;
  min-height: 100vh;
}

main {
  position: relative;
  top: 8vh;
  width: 100%;
  height: calc(100vh - 8vh);
  z-index: 10;
}
