$bcColor: #643a94;
$thumbColor: #9825bb;
$ylwColor:rgb(221, 202, 32);

.settings {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;

  & > form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 100%;
    background-color: $bcColor;
    padding: 4vh 0;

    h2 {
      color: $ylwColor;
      font-size: 4.5vw;
      text-shadow: 1px 1px black, -1px 1px black, 1px -1px black, 0px 0px black;
      animation: tingtong 1.8s infinite linear;
    }

    input[type='password'] {
      width: 70%;
      height: 15%;
      border: none;
      outline: none;
      border: 4px solid transparent;
      font-weight: bold;
      color: black;
      font-family: inherit;
      transition: 0.5s;
      font-size: 4vw;
      text-align: center;

      &:focus {
        border-color: $ylwColor;
      }
    }

    button[type='submit'] {
      width: 45%;
      height: 15%;
      color: white;
      border-color: white;
      border-width: 3px;
    }
  }

  & > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: #643a94;
    font-weight: bold;
    width: 95%;
    font-size: 4vw;
    height: 50%;

    & > div {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      form {
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        input[type='range'] {
          -webkit-appearance: none;
          appearance: none;
          width: 100%;
          height: 2.5vh;
          margin: 0 3vw;
        }
        input[type='range']:focus {
          outline: none;
        }
        input[type='range']::-webkit-slider-runnable-track {
          width: 100%;
          height: 0.4vh;
          cursor: pointer;
          box-shadow: 1px 1px 1px $bcColor;
          background: $bcColor;
          border-radius: 14px;
          border: 0px solid #000000;
        }
        input[type='range']::-webkit-slider-thumb {
          position: relative;
          box-shadow: 0px 0px 0px #000000;
          border: 0px solid #000000;
          height: 5vh;
          width: 5vh;
          border-radius: 50%;
          background: $ylwColor;
          border:2px solid $bcColor;
          margin-top: -2.3vh;
          cursor: pointer;
          -webkit-appearance: none;
          appearance: none;
          box-shadow: 0 0 0 8px white;
        }
        input[type='range']:focus::-webkit-slider-runnable-track {
          background: $bcColor;
        }

        p {
          margin-top: 2vh;
          position: relative;
        }

        button {
          width: 60%;
          margin-top: 5vh;
          height: 6vh;
          transition: 0.2;

          &:active {
            transform: scale(0.8);
          }
        }
      }

      h3 {
        font-weight: bold;
        color: $bcColor;
        font-size: 5.3vw;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .settings {
    width: 40%;

    & > div {
      font-size: 2vw;

      form {
        input[type='range'] {
          height: 5.1vh;
        }

        button {
          font-size: 2.3vw;
          height: 7vh;

          &:hover {
            color: white;
            background-color: $bcColor;
          }
        }
      }

      h3 {
        font-size: 2vw;
      }
    }
  }
}

@keyframes tingtong {
  0% {
    transform: translateX(0%);
  }

  25% {
    transform: translateX(-10%);
  }

  50% {
    transform: translateX(0%);
  }

  75% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(0%);
  }
}
